

/*
		Name	: Jeff Blackmore
		Class 	: CIST 1300
		Assign#	: aX
		Due	: Dayth month

		Honor Pledge:  On my honor as a student of the University
			of Nebraska at Omaha, I have neither given nor
                received unauthorized help on this homework
                assignment.

	NAME: jeff Blackmore
	EMAIL: cist1300.uno@gmail.com
	
		Partners:   NONE

*/



body 
{
   background: red;
}

section p 
{
   background: rgba(0,0,255,0.7);
   color: yellow;
}

