

/*
		Name	: Jeff Blackmore
		Class 	: CIST 1300
		Assign#	: aX
		Due	: Dayth month

		Honor Pledge:  On my honor as a student of the University
			of Nebraska at Omaha, I have neither given nor
                received unauthorized help on this homework
                assignment.

	NAME: jeff Blackmore
	EMAIL: cist1300.uno@gmail.com
	
		Partners:   NONE

*/


@charset "UTF-8";

h1
{
   font-variant: small-caps;
   color: red;   /* or #ff0000 or rgb(255,0,0) or rgba(255,0,0,1) */
}

p 
{
   color: rgba(0,0,255,0.3);
}

