


body
{

    background-color: #6b8e23;
    /*
    background-image: url("../images/Ceratopsidae-BW-002-small.jpg");
*/
}


div
{

    width: 85%;
    margin: 5% 5%;
    background-color: oldlace;
    border-radius: 15px;
    padding: 3%;


}

img 
{

    float: left;
    padding: 5px;

}








#content
{
    width: 80%;
    margin: 7% 10%;
    background-color: darkolivegreen;
    border 3px solid black;
    border-radius: 15px;

}


h1
{

    font-family: 'Slackey', serif;

}



audio
{

    float: right;

}


