body {
    width: 85%;
    max-width: 800px;
    margin: 10px;   /* to move the content away from the top and left edges */
}
header {
    /* bg image from http://j.mp/PgMvd7 */
    background: url('../images/back.jpg') repeat-x;   /* moved to header */
    height: 75px;
    font: italic 2.5em "Times New Roman", serif;  /* setting font of header */
    text-align: center;   /* centering the header text in 800px */
}
#main {
    width: 68%;
}
#col2 {
    width: 28%;
    margin-left: 72%;
}
