body {
    width: 85%;
    max-width: 800px;
    margin: 10px;
}

header {
    background: url("../images/back.jpg") repeat-x;   /* http://j.mp/PgMvd7 */
    height: 75px;
    font: italic 2.5em "Times New Roman", serif;
    text-align: center;
}

#main {
    width: 68%;
    padding-top: 10px;
    float: left;/* allowing next item, #col2, to flow around it on the right */
}

#col2 {
    width: 28%;
    padding-top: 10px;
    margin-left: 72%
}

#pic {
    float: left;    /* pushing the picture in 1st column to the left */
    padding-right: 10px;  /* and putting some space between it and the text */
} 
.firstp {
    margin-top: 0px;  /* moving first paras up a bit removing default 1em */
}
