body {
    width: 85%;
    max-width: 800px;
    margin: 10px;
}
header {
    background: url("../images/back.jpg") repeat-x; /* http://j.mp/PgMvd7 */
    height: 75px;
    font: italic 2.5em "Times New Roman", serif;
    text-align: center;
    padding: 10px;    /* added to push header down a bit for vert centering */
}
#main {
    width: 68%;
    padding-top:10px;
    float: left;
}

#col2 {
    width: 28%;
    padding-top: 10px;
    margin-left: 72%;
}
#pic {
    float: left;
    padding-right: 10px;
}
.firstp {
    margin-top: 0px;
}
footer 
{
    clear: both;    /* move footer past any floats on either side */
    height: 75px;   /* set it to be as tall as image below */
    background: url("../images/back.jpg") repeat-x;   /* put in the image */
    font: italic 0.75em "Times New Roman", serif;  /* set the font */
    text-align: center;   /* center the text */
    padding-top: 25px;    /* push the text down a bit to center vertically */
}
