body 
{
    /* bg image from http://j.mp/PgMvd7 */
    	background-image: url("../images/SoulNebula-PIA13014_hires.jpg");
    	background-repeat: no-repeat;
	background-attachment: fixed;
   	background-size: cover;
	background-color: #122013;	

}

#content
{
	line-height:1.4;  
	width:70%; 
	min-height: 99%;
	margin-left:15%; 
	background-color: #eaeaea; 


}

.indent
{
	margin-left: 40px; 
	list-style-type:circle;
}