/* css for the feb 19 lecture */


body 
{
    border:             0px;
    margin:             0px;
    padding:            0px;
    font-family:        "Times New Roman", serif;
    background-color:   #ccd;
}




a 
{
    color:              #070;
    text-decoration:    underline;
}


#header {
    width:                  158px;
    position:               fixed;
    top:                    0px;
    left:                   0px;
    bottom:                 0px;
    padding:                0px;
    background-color:       #aab;
    border-right:           2px solid #900;
}

#title {
    margin:                 14px;
    font-weight:            bold;
    font-size:              1.2em;
}



#nav {
    border-bottom:          2px solid #900;
}
#nav a {
    padding:                .1em 0px .25em 15px; 
    white-space:            nowrap;
    display:                block;
    border-top:             1px solid #855;
    background-color:       #bab;
    font-weight:            bold;
    text-decoration:        none;
}

#nav a:hover {
    background-color:       #dab;
}


#content {
    margin-left:        160px;
    padding:            1em;
    max-width:          500px;
}



#validator
{

    margin-left:        160px;
        padding:            1em;
            max-width:          500px;


}


.page {
    border:           1px solid black;
    margin-bottom:    3em;
    padding:          1em;
    background-color: #eee;
}

.pagenum {
    font-size:        75%;
    text-align:       center;
}

.heading {
    font-weight:      bold;
}







