/* this is a sample of the comment structure for css, 'C' style commentary */






body {
    /* bg image from http://j.mp/PgMvd7 */
    background: url("../images/back.jpg") repeat-x;  /* combined */
    width: 85%;     /* entire body of page will be 85% of browser */
    max-width: 800px;  /* ... up to a maximum of 800px */
}
header {
    height: 75px;     /* matches the height of the background img */
}
#main {
    width: 68%;       /* setting up the width of the main column */
}
#col2 {
    width: 28%;     /* setting up the width of the second column */
}
