

/*
		Name	: Jeff Blackmore
		Class 	: CIST 1300
		Assign#	: aX
		Due	: Dayth month

		Honor Pledge:  On my honor as a student of the University
			of Nebraska at Omaha, I have neither given nor
                received unauthorized help on this homework
                assignment.

	NAME: jeff Blackmore
	EMAIL: cist1300.uno@gmail.com
	
		Partners:   NONE

*/




.favesites 
{		
    color: teal;
}


