/*  CSS For our Triceratops Page */


/* background image from Wikimedia Commons https://commons.wikimedia.org/wiki/File:Ceratopsidae-BW-002.png */


body
{

    background-image: url("../images/Ceratopsidae-50.jpg");
	
}





audio
{
	
	text-align: left;
	float: right;

}



.font1
{

	font-family: 'Modern Antiqua', sans-serif;

}

.font2
{

    font-family: 'Macondo', sans-serif;

}


div#content
{

	background-color: #bad097;

}



#content div
{

	background-color: white;

}





