body {
    width: 85%;
    max-width: 800px;
    margin: 10px;
}
header {
    background: url("../images/BluLeather.gif") repeat-x; /* http://j.mp/PgMvd7 */
    height: 75px;
    font: italic 2.5em "Times New Roman", serif;
    text-align: center;
    padding: 10px;
}
#main {
    width: 68%;
    padding-top:10px;
    float: left;
    padding-right: 15px;   /* to move the border away from the text */
    border-right: 2px inset;
    margin-bottom: 20px;   /* to push the footer away from the content */
}

#col2 {
    width: 28%;
    padding-top: 10px;
    margin-left: 72%;
    margin-bottom: 20px;   /* to push the footer away from the content */
}
#pic {
    float: left;
    padding-right: 10px;
}
.firstp {
    margin-top: 0px;
}
/* ter {
    clear: both;
    color: white;
    font-weight: bold;
    height: 75px;
    font: italic 0.95em "Times New Roman", serif;
    text-align: center;
    padding-top: 25px; 
    border-top: 3px double blue; /* look, another border!
    background: url("images/BluLeather.gif") repeat-x; 
}  */

footer {
    background: url("../images/bst.jpg") repeat-x;
    clear: both;
    color: white;
    font-weight: bold;
    height: 75px;
    font: italic 0.95em "Times New Roman", serif;
    text-align: center;
    padding-top: 25px;
    border-top: 3px double blue; /* look, another border! */
}

.menu li {    /* set how li elements inside the menu class behave */
    display: inline;   /* change from block to inline */
}

.menu li {
    display: inline;
}
.menu {    /* change the menu class, which is applied to an unordered list */
    list-style-type: none;   /* make sure there are no bullets */
    margin: 0px;   /* set the margin */
    padding: 7px 0px; /* TB and LR */
    text-align: center;   /* center the enter ul in avail space: 800px/85% */
}

.menu li a:link,a:visited {      /* change how links and visited links look */
    color: #ffffff;                 /* text is white */
    background-color: #4682b4;      /* background is purplish */
    text-align: center;             /* center text in each link */
    padding: 5px;                   /* put a little breathing room around it */
    text-decoration: none;          /* remove underlines */
    text-transform: uppercase;      /* convert to all uppercase */
}
.menu li a:hover {              /* change how links being hovered over look */
    color: #4682b4;                 /* text is now purplish (from above) */
    background-color: #ffffff;      /* background is now white */
    text-align: center;               /* the rest of these need to stay the */
    padding: 5px;                     /* same for consistency between non-  */
    text-decoration: none;            /* hovered elements and hovered       */
    text-transform: uppercase;        /* elements */

}

