@charset "UTF-8";
/* 

Ensure that the complete signed Honors Pledge is here!


*/

    body 
    {
        font-family: 'Times New Roman', serif;
/*        background-color: lightgreen;  /*#faedb7;*/
        background-image: url(../images/purple_lace.jpg);

    }
    h1 
    {
        font-family: 'Comic Sans MS', sans-serif;
    }

    #lecture_links
    {
	margin-left:10%; 
	margin-right:10%; 
	background-color: #ffe6ff; 
	padding: 10px;

    }

    a
    {
        color:black;
        text-decoration: overline underline;
        font-weight: bold;

    }

    a:hover
    {
        font-size: 1.2em;
        color:  #deb887;
        background-color: #000;

    }

    a:visited
    {

        color: midnightblue;
        font-style: italic;
        font-weight: bold;

    }

    a:visited:hover
    {
        color: white;
    }

    #validator a:hover
    {

        background-color: rgba(0,0,0,0);

    }
