
body {
       background-color:  #add8e6;
    }     
   
    
section {
            background-color: yellow;
            font-size: 75%;
        }



#main {
            font: italic bold 1.25em "Times New Roman", serif;
            color: blue;
            background-color: lime;
      }

footer {
            font: 50% "Courier New", monospace;
            color: black;
       }


